<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- Specify absolute path, otherwise it will be relative to current directory which can lead to unpredictable results -->
  <output-path>C:\_NUnitGoResults</output-path>
  <screenshots-path>C:\_NUnitGoResults\Screenshots</screenshots-path>
</config>
